<section class="gallery container">
    <div class="filters">
        <button id="previewBtn">
            <svg class="thumbnail">
                <use href="../img/sprite.svg#filter-thumbnail"></use>
            </svg>
        </button>
        <button id="rowsBtn">
            <svg class="row-btn">
                <use href="../img/sprite.svg#filter-rows"></use>
            </svg>
        </button>
    </div>
    <div id="gallery" class="gallery preview">
    </div>
    <button id="loadMoreBtn">Load More</button>
</section>